<section id="section-hero" style="background-color: #f6fbff;">
    <div class="container">
        <div class="row text-center pt-5">
            <div class="col-12">
                <h1>Coba Aplikasi <span class="id-color">My Exams CBT</span></h1>
                <p class="lead">
                    Kami juga telah menyediakan layanan untuk uji coba aplikasi yang dapat langsung anda
                    akses secara gratis.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center">
                <h5 class="s2">Akun Akses Ke</h5>
                <h2>My Exams Demo</h2>
                <p class="lead">
                    <i class="text-danger">Dimohon untuk tidak merubah default akun di bawah ini!</i>
                </p>
                <div class="spacer-30"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <i class="icon-gears de-icon mb20"></i>
                <h4>Akun Administrator</h4>
                <p>
                    Dapat digunakan untuk mengakses semua fitur pada halaman <strong>/panel</strong> dan dapat digunakan
                    untuk login sebagai pengawas.
                </p>
                <ul class="ul-style-2">
                    <li>
                        <h4>Username: admin</h4>
                    </li>
                    <li>
                        <h4>Password: admin</h4>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <i class="icon-lightbulb de-icon mb20"></i>
                <h4>Akun Guru</h4>
                <p>
                    Dapat digunakan untuk mengakse beberapa fitur pada halaman <strong>/panel</strong> dan dapat
                    digunakan untuk login sebagai pengawas.
                </p>
                <ul class="ul-style-2">
                    <li>
                        <h4>Username: teacher</h4>
                    </li>
                    <li>
                        <h4>Password: teacher</h4>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <i class="icon-focus de-icon mb20"></i>
                <h4>Akun Pengawas</h4>
                <p>Akun hanya dapat digunakan untuk mengakses halaman pengawas.</p>
                <ul class="ul-style-2">
                    <li>
                        <h4>Username: supervisor</h4>
                    </li>
                    <li>
                        <h4>Password: supervisor</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="no-bottom no-top" data-bgcolor="#DBEDF7">
    <div class="container">
        <div class="row align-items-center g-custom-x">
            <div class="col-lg-5 col-md-6">
                <div class="p-sm-30 px-0 pb-sm-0 mb-sm-0">
                    <h2>Coba Aplikasi <span class="id-color">My Exams</span> Sekarang!</h2>
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="p-sm-30 px-0">
                    <div class="spacer-20 sm-hide"></div>
                    <p class="lead">
                        Anda dapat mengakses layanan My Exams Demo yang telah kami sediakan menggunakan link di bawah
                        ini:
                    </p>
                    <div class="spacer-half"></div>
                    <div>
                        <a class="btn-main mb-3 me-2" target="_blank"
                            href="<%= formsObj['link:myexams-demo-participant'] %>">My Exams: Login Peserta</a>
                        <a class="btn-main mb-3 me-2" target="_blank"
                            href="<%= formsObj['link:myexams-demo-panel'] %>">My Exams: Login Admin</a>
                    </div>
                    <p class="d-small mt20">*Hubungi admin jika link demo tidak bisa dibuka.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h5 class="s2">Download My Exams Android</h5>
                <h2>My Exams Android</h2>
                <p class="lead">
                    Kami telah menyiapkan aplikasi android yang dapat digunakan oleh peserta dalam mengerjakan ujian
                    menggunakan <i>Secure Device</i>. Ada dapat mendownload aplikasinya secara gratis menggunakan link
                    di bawah.
                </p>
                <div class="spacer-30"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2 mb-4">
                <img src="/assets/images/myexams-mobiles.png" class="img-fluid" alt="My Exams Mobiles">
                <div class="text-center">
                    <a class="btn-main mt-4" href="<%= formsObj['link:myexams-android-download'] %>">
                        <span>Download: My Exams Android - Demo Version <%= formsObj['version:myexams-android'] %> (APK)</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <p class="lead">
                    Penggunaan <i>Secure Device</i> pada sistem operasi Windows, MacOS, dan iOS, anda dapat menggunakan aplikasi pihak ketiga bernama Safe Exam Browser sebagai akses peserta dalam mengerjakan ujian. Panduan dan cara penggunaannya dapat dilihat pada akses <b>/panel</b> sebagai administrator pada halaman <b>Peralatan -> SEB Generator</b>.
                </p>
                <div class="spacer-30"></div>
            </div>
        </div>
    </div>
</section>
