<section id="section-hero" style="background-color: #f6fbff;">
    <div class="container">
        <div class="row text-center pt-5">
            <div class="col-12">
                <h1>Hal Apa yang Sering Ditanyakan?</h1>
                <p class="lead">
                    Dapatkan informasi terkait topik penting yang sering ditanyakan.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row g-custom-x">
            <div class="col-md-8 offset-md-2">
                <div class="accordion secondary">
                    <div class="accordion-section">

                        <div class="accordion-section-title" data-tab="#accordion-1">
                            Bagimana sistem penilaian pada aplikasi My Exams?
                        </div>
                        <div class="accordion-section-content" id="accordion-1">
                            <p>
                                Soal-soal pada aplikasi My Exams dikemas di dalam sebuah grup dan paket ujian. Sistem
                                pengelompokan ini menggunakan pembobotan pada setiap grup soal dan soal. Nilai akhir
                                akan dikalkulasi berdasarkan presentase bobot yang telah ditetapkan.
                            </p>
                        </div>

                        <div class="accordion-section-title" data-tab="#accordion-2">
                            Apakah terdapat fitur import soal?
                        </div>
                        <div class="accordion-section-content" id="accordion-2">
                            <p>
                                Iya. Tidak hanya melakukan pembuatan soal di webnya secara langsung, anda juga dapat
                                membuat soal menggunakan file MS. Word yang nantinya dapat anda upload ke aplikasi.
                                Fitur ini menjadikan proses pembuatan soal akan lebih cepat dan mudah.
                            </p>
                        </div>

                        <div class="accordion-section-title" data-tab="#accordion-3">
                            Apakah dapat digunakan untuk lebih dari 1.000 peserta ujian?
                        </div>
                        <div class="accordion-section-content" id="accordion-3">
                            <p>
                                Iya. Teknologi yang digunakan pada aplikasi My Exams memungkinkan untuk menampung banyak
                                koneksi peserta. Bahkan, anda dapat mengadakan ujian dengan banyak peserta menggunakan
                                spesifikasi server yang minumum.
                            </p>
                        </div>

                        <div class="accordion-section-title" data-tab="#accordion-4">
                            Apakah My Exams menyediakan versi aplikasi android?
                        </div>
                        <div class="accordion-section-content" id="accordion-4">
                            <p>
                                Iya. Anda juga akan mendapatkan aplikasi versi android (apk) yang dapat langsung
                                diinstal dan digunakan oleh peserta ujian.
                            </p>
                        </div>

                        <div class="accordion-section-title" data-tab="#accordion-5">
                            Apakah saya dapat mengajukan custom pada beberapa fitur di aplikasi My Exams?
                        </div>
                        <div class="accordion-section-content" id="accordion-5">
                            <p>
                                Tentu saja bisa. Kami akan selalu melakukan update pada aplikasi tersebut. Namun, anda
                                dapat melakukan pengajuan jika custom fitur di luar dari lingkup tujuan aplikasi.
                            </p>
                        </div>

                        <div class="accordion-section-title" data-tab="#accordion-6">
                            Apakah aplikasi ini bisa digunakan dalam ujian online dan offline?
                        </div>
                        <div class="accordion-section-content" id="accordion-6">
                            <p>
                                Iya. My Exams dapat diinstal pada sebuah cloud server maupun local server. Sehingga,
                                anda dapat mengadakan ujian yang bersifat lokal maupun berbasis internet (online).
                            </p>
                        </div>

                        <div class="accordion-section-title" data-tab="#accordion-7">
                            Apakah My Exams dapat diinstal di sistem operasi Windows?
                        </div>
                        <div class="accordion-section-content" id="accordion-7">
                            <p>
                                Bisa. Aplikasi My Exams saat ini sudah tersedia versi Windwos dan Linux yang dapat
                                langsung di instal di server anda.
                            </p>
                        </div>

                        <div class="accordion-section-title" data-tab="#accordion-8">
                            Apakah aplikasi ini mengunakan bahasa pemrograman PHP?
                        </div>
                        <div class="accordion-section-content" id="accordion-8">
                            <p>
                                Tidak. Aplikasi ini sepenuhnya dibuat dengan bahasa pemrograman JavaScript (NodeJS)
                                sebagai bahasa di sisi server dan client-nya. Bahasa pemrograman ini dipilih karena
                                hebih handal daripada bahasa pemrograman PHP.
                            </p>
                        </div>

                        <div class="accordion-section-title" data-tab="#accordion-9">
                            Apakah aplikasi ini berbayar?
                        </div>
                        <div class="accordion-section-content" id="accordion-9">
                            <p>
                                Iya. Untuk mendapatkan My Exams anda perlu melakukan pembelian terdapat penggunaan
                                lisensinya (lisensi berlaku selamanya). Anda juga dapat menyewa atau berlanggan untuk
                                mendapatkan lisensinya.
                            </p>
                        </div>

                        <div class="accordion-section-title" data-tab="#accordion-10">
                            Apa saya yang akan saya dapatkan?
                        </div>
                        <div class="accordion-section-content" id="accordion-10">
                            <p>
                                Selain dari aplikasi My Exams, anda juga akan mendapatkan aplikasi versi android,
                                panduan penggunaan, instalasi aplikasi, support sistem update versi, dan trobleshooting.
                            </p>
                        </div>

                        <div class="accordion-section-title" data-tab="#accordion-11">
                            Bagaimana cara melakukan pembelian aplikasi?
                        </div>
                        <div class="accordion-section-content" id="accordion-11">
                            <p>
                                Untuk melakukan pembelian, anda dapat menghubungi pihak pengembang aplikasi untuk proses
                                lebih lanjutnya. Kontak pengembang berada pada halaman "Dapatkan Aplikasi". Setelah
                                melakukan pembelian, anda akan mendapatkan aplikasi server, aplikasi android, dan
                                lisensi aplikasi yang berlaku selamanya.
                            </p>
                        </div>

                        <div class="accordion-section-title" data-tab="#accordion-12">
                            Bagaimana cara melakukan sewa atau berlanggan aplikasi?
                        </div>
                        <div class="accordion-section-content" id="accordion-12">
                            <p>
                                Caranya sama seperti melakukan pembelian aplikasi. Namun, lisensi yang anda dapatkan
                                hanya berlaku dalam periode tertentu tergantu lama penyewaan lisensi aplikasi.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>