<section id="section-hero" style="background-color: #f6fbff;">
    <div class="container">
        <div class="row text-center pt-5">
            <div class="col-12">
                <h1>Fitur Aplikasi <span class="id-color">My Exams CBT</span></h1>
                <p class="lead">My Exams memiliki banyak fitur yang dapat membantu anda dalam mengelola ujian.</p>
            </div>
        </div>
    </div>
</section>

<!-- Pengeloa Soal Ujian (WEB) -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="text-center">
                    <h3>Pengeloa Soal Ujian (WEB)</h3>
                    <div class="spacer-20"></div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 mb-4">
                <div class="text-center">
                    <p class="lead">
                        Dilengkapi dengan fitur paket dan grub soal. Soal ujian dapat dikelompokan ke dalam grub yang
                        mungkin saja setiap grub soal memiliki bobot yang berbeda. Selain itu, dimungkinkan juga untuk
                        membuat paket soal lebih dari satu.
                    </p>
                </div>
            </div>
            <div class="col-12 mb-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="de-image-hover rounded mb-3">
                            <a href="/assets/images/features/A1.png" class="image-popup">
                                <span class="dih-title-wrap">
                                    <span class="dih-title">Daftar soal di dalam sebuah grup dan paket</span>
                                </span>
                                <span class="dih-overlay"></span>
                                <img src="/assets/images/features/A1.png" class="lazy img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="de-image-hover rounded mb-3">
                            <a href="/assets/images/features/A2.png" class="image-popup">
                                <span class="dih-title-wrap">
                                    <span class="dih-title">Pengaturan paket soal</span>
                                </span>
                                <span class="dih-overlay"></span>
                                <img src="/assets/images/features/A2.png" class="lazy img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="de-image-hover rounded mb-3">
                            <a href="/assets/images/features/A3.png" class="image-popup">
                                <span class="dih-title-wrap">
                                    <span class="dih-title">Pengaturan grub soal</span>
                                </span>
                                <span class="dih-overlay"></span>
                                <img src="/assets/images/features/A3.png" class="lazy img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="de-image-hover rounded mb-3">
                            <a href="/assets/images/features/A4.png" class="image-popup">
                                <span class="dih-title-wrap">
                                    <span class="dih-title">Pengaturan soal</span>
                                </span>
                                <span class="dih-overlay"></span>
                                <img src="/assets/images/features/A4.png" class="lazy img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Pengeloa Soal Ujian (MS Word) -->
<section class="no-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="text-center">
                    <h3>Pengeloa Soal Ujian (MS Word)</h3>
                    <div class="spacer-20"></div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 mb-4">
                <div class="text-center">
                    <p class="lead">
                        Dilengkapi dengan fitur import soal menggunakan file Microsoft Word. Anda dapat melakukan
                        konfigurasi pada paket soal seperti pengelolaan grub soal, bobot, tipe soal, konten soal, dan
                        konten jawaban, dan kunci jawaban dalam satu file word. Fitur ini akan mempercepat anda dalam
                        membuat dan mengelola soal ujian.
                    </p>
                </div>
            </div>
            <div class="col-12 mb-4">
                <div class="row">
                    <div class="col-md-4">
                        <div class="de-image-hover rounded mb-3">
                            <a href="/assets/images/features/B1.png" class="image-popup">
                                <span class="dih-title-wrap">
                                    <span class="dih-title">Mengelola paket ujian menggunakan Microsoft Word</span>
                                </span>
                                <span class="dih-overlay"></span>
                                <img src="/assets/images/features/B1.png" class="lazy img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="de-image-hover rounded mb-3">
                            <a href="/assets/images/features/B2.png" class="image-popup">
                                <span class="dih-title-wrap">
                                    <span class="dih-title">File template Microsoft Word</span>
                                </span>
                                <span class="dih-overlay"></span>
                                <img src="/assets/images/features/B2.png" class="lazy img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="de-image-hover rounded mb-3">
                            <a href="/assets/images/features/B3.png" class="image-popup">
                                <span class="dih-title-wrap">
                                    <span class="dih-title">Import file template paket soal</span>
                                </span>
                                <span class="dih-overlay"></span>
                                <img src="/assets/images/features/B3.png" class="lazy img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Powerful Editor Soal -->
<section class="no-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="text-center">
                    <h3>Powerful Editor Soal</h3>
                    <div class="spacer-20"></div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 mb-4">
                <div class="text-center">
                    <p class="lead">
                        Dilengkapi dengan editor soal dan jawaban yang powerful. Memiliki beberapa tipe soal dan
                        terdapat fitur pengelola file sebagai media yang dapat digunakan pada soal ujian.
                    </p>
                </div>
            </div>
            <div class="col-12 mb-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="de-image-hover rounded mb-3">
                            <a href="/assets/images/features/C1.png" class="image-popup">
                                <span class="dih-title-wrap">
                                    <span class="dih-title">Editor soal</span>
                                </span>
                                <span class="dih-overlay"></span>
                                <img src="/assets/images/features/C1.png" class="lazy img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="de-image-hover rounded mb-3">
                            <a href="/assets/images/features/C2.png" class="image-popup">
                                <span class="dih-title-wrap">
                                    <span class="dih-title">Editor jawaban</span>
                                </span>
                                <span class="dih-overlay"></span>
                                <img src="/assets/images/features/C2.png" class="lazy img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="de-image-hover rounded mb-3">
                            <a href="/assets/images/features/C3.png" class="image-popup">
                                <span class="dih-title-wrap">
                                    <span class="dih-title">Daftar jenis soal</span>
                                </span>
                                <span class="dih-overlay"></span>
                                <img src="/assets/images/features/C3.png" class="lazy img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="de-image-hover rounded mb-3">
                            <a href="/assets/images/features/C4.png" class="image-popup">
                                <span class="dih-title-wrap">
                                    <span class="dih-title">Halaman pengalola file ujian</span>
                                </span>
                                <span class="dih-overlay"></span>
                                <img src="/assets/images/features/C4.png" class="lazy img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="de-image-hover rounded mb-3">
                            <a href="/assets/images/features/C5.png" class="image-popup">
                                <span class="dih-title-wrap">
                                    <span class="dih-title">Pengelola file pada editor soal</span>
                                </span>
                                <span class="dih-overlay"></span>
                                <img src="/assets/images/features/C5.png" class="lazy img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Pengelola Akun -->
<section class="no-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="text-center">
                    <h3>Pengelola Akun</h3>
                    <div class="spacer-20"></div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 mb-4">
                <div class="text-center">
                    <p class="lead">
                        Halaman panel memiliki fitur pengelola akun. Akun yang dikelola antara lain akun admin, guru dan
                        pengawas.
                    </p>
                </div>
            </div>
            <div class="col-12 mb-4">
                <div class="row">
                    <div class="col-md-4">
                        <div class="de-image-hover rounded mb-3">
                            <a href="/assets/images/features/D1.png" class="image-popup">
                                <span class="dih-title-wrap">
                                    <span class="dih-title">Akun pengelola ujian</span>
                                </span>
                                <span class="dih-overlay"></span>
                                <img src="/assets/images/features/D1.png" class="lazy img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="de-image-hover rounded mb-3">
                            <a href="/assets/images/features/D2.png" class="image-popup">
                                <span class="dih-title-wrap">
                                    <span class="dih-title">Akun pengawas ujian</span>
                                </span>
                                <span class="dih-overlay"></span>
                                <img src="/assets/images/features/D2.png" class="lazy img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="de-image-hover rounded mb-3">
                            <a href="/assets/images/features/D3.png" class="image-popup">
                                <span class="dih-title-wrap">
                                    <span class="dih-title">Tambah akun pengelola atau pengawas</span>
                                </span>
                                <span class="dih-overlay"></span>
                                <img src="/assets/images/features/D3.png" class="lazy img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Pengelola Kelas dan Ruangan -->
<section class="no-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="text-center">
                    <h3>Pengelola Kelas dan Ruangan</h3>
                    <div class="spacer-20"></div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 mb-4">
                <div class="text-center">
                    <p class="lead">
                        Dilengkapi dengan fitur pengelolaan data kelas peserta dan ruangan ujian.
                    </p>
                </div>
            </div>
            <div class="col-12 mb-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="de-image-hover rounded mb-3">
                            <a href="/assets/images/features/E1.png" class="image-popup">
                                <span class="dih-title-wrap">
                                    <span class="dih-title">Daftar kelas/jurusan</span>
                                </span>
                                <span class="dih-overlay"></span>
                                <img src="/assets/images/features/E1.png" class="lazy img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="de-image-hover rounded mb-3">
                            <a href="/assets/images/features/E2.png" class="image-popup">
                                <span class="dih-title-wrap">
                                    <span class="dih-title">Daftar ruangan ujian</span>
                                </span>
                                <span class="dih-overlay"></span>
                                <img src="/assets/images/features/E2.png" class="lazy img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Pengelola Akun Peserta -->
<section class="no-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="text-center">
                    <h3>Pengelola Akun Peserta</h3>
                    <div class="spacer-20"></div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 mb-4">
                <div class="text-center">
                    <p class="lead">
                        Dilengkapi dengan fitur pengelolaan akun peserta seperti input/edit data peserta, import data
                        peserta, kelola kartu peserta, serta pendaftaran peserta ke ujian.
                    </p>
                </div>
            </div>
            <div class="col-12 mb-4">
                <div class="row">
                    <div class="col-md-4">
                        <div class="de-image-hover rounded mb-3">
                            <a href="/assets/images/features/F1.png" class="image-popup">
                                <span class="dih-title-wrap">
                                    <span class="dih-title">Daftar akun peserta ujian</span>
                                </span>
                                <span class="dih-overlay"></span>
                                <img src="/assets/images/features/F1.png" class="lazy img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="de-image-hover rounded mb-3">
                            <a href="/assets/images/features/F2.png" class="image-popup">
                                <span class="dih-title-wrap">
                                    <span class="dih-title">Import data peserta ujian</span>
                                </span>
                                <span class="dih-overlay"></span>
                                <img src="/assets/images/features/F2.png" class="lazy img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="de-image-hover rounded mb-3">
                            <a href="/assets/images/features/F3.png" class="image-popup">
                                <span class="dih-title-wrap">
                                    <span class="dih-title">Pengelola katru peserta ujian</span>
                                </span>
                                <span class="dih-overlay"></span>
                                <img src="/assets/images/features/F3.png" class="lazy img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Pengaturan Ujian -->
<section class="no-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="text-center">
                    <h3>Pengaturan Ujian</h3>
                    <div class="spacer-20"></div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 mb-4">
                <div class="text-center">
                    <p class="lead">
                        Dilengkapi dengan pengaturan seperti mengaktifkan ujian, penjadwalan ujian, alokasi ujian, akun
                        pengelola ujian, serta pengaturan lainnya seperti acak paket, soal, opsi, dan pengaturan untuk
                        menampilkan nilai akhir.
                    </p>
                </div>
            </div>
            <div class="col-12 mb-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="de-image-hover rounded mb-3">
                            <a href="/assets/images/features/G1.png" class="image-popup">
                                <span class="dih-title-wrap">
                                    <span class="dih-title">Pengaturan informasi ujian</span>
                                </span>
                                <span class="dih-overlay"></span>
                                <img src="/assets/images/features/G1.png" class="lazy img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="de-image-hover rounded mb-3">
                            <a href="/assets/images/features/G2.png" class="image-popup">
                                <span class="dih-title-wrap">
                                    <span class="dih-title">Pengaturan penjadwalan dan alokasi ujian</span>
                                </span>
                                <span class="dih-overlay"></span>
                                <img src="/assets/images/features/G2.png" class="lazy img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="de-image-hover rounded mb-3">
                            <a href="/assets/images/features/G3.png" class="image-popup">
                                <span class="dih-title-wrap">
                                    <span class="dih-title">Akun pengalola ujian</span>
                                </span>
                                <span class="dih-overlay"></span>
                                <img src="/assets/images/features/G3.png" class="lazy img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="de-image-hover rounded mb-3">
                            <a href="/assets/images/features/G4.png" class="image-popup">
                                <span class="dih-title-wrap">
                                    <span class="dih-title">Pengaturan lainnya</span>
                                </span>
                                <span class="dih-overlay"></span>
                                <img src="/assets/images/features/G4.png" class="lazy img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Next -->
<section class="no-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a class="btn-main" href="/tutorial">Tutorial Penggunaan Aplikasi</a>
            </div>
        </div>
    </div>
</section>
