<section id="section-hero" style="background-color: #f6fbff;">
    <div class="container">
        <div class="row text-center pt-5">
            <div class="col-md-8 offset-md-2">
                <h1>Berlanggan atau Dapatkan Aplikasi <span class="id-color">My Exams</span> Sekarang!</h1>
                <p class="lead">
                    Dapatkan aplikasi My Exams CBT untuk mengelola ujian dengan lebih mudah dan cepat.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Bagaimana Cara Mendapatkannya? -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h5 class="s2">Dapatkan My Exams</h5>
                <h2>Bagaimana Cara Mendapatkannya?</h2>
                <p class="lead">
                    Berlanggan atau dapatkan aplikasi My Exams dengan mengikuti langkah-langkah berikut ini.
                </p>
                <div class="spacer-20"></div>
            </div>
            <div class="col-md-12">
                <div class="container-timeline">
                    <ul>
                        <li>
                            <h4>Pelajari</h4>
                            <p>
                                Pelajari terkait fitur dan layanan yang dimiliki oleh aplikasi My Exams untuk memastikan
                                fitur dan layanan sesuai dengan kebutuhan anda.
                            </p>
                        </li>
                        <li>
                            <h4>Coba Aplikasi</h4>
                            <p>
                                Anda dapat <a href="/demo">mencoba aplikasi</a> My Exams secara gratis sebelum melakukan
                                sewa atau pembelian.
                            </p>
                        </li>
                        <li>
                            <h4>Pilih Paket</h4>
                            <p>
                                Pilih paket berlanggan atau pembelian aplikasi My Exams berdasarkan kebutuhan anda.
                            </p>
                        </li>
                        <li>
                            <h4>Hubungi Pengembang</h4>
                            <p>
                                Terakhir, hubungi <a href="/contact?from=guide">kontak pengembang</a> untuk melanjutkan
                                proses pemasangan atau pengaktifkan aplikasi.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Kebutuhan Sumber Daya Aplikasi -->
<section data-bgcolor="#DBEDF7">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <h2>Kebutuhan Sumber Daya Aplikasi</h2>
                <p class="lead">
                    <strong>My Exams</strong> dibuat menggunakan teknologi terbaru sehingga menghasilkan aplikasi yang
                    ringan namun handal pada segi kinerja dan performanya. Pada penggunaan resource komputer, My Exams
                    dapat berjalan dengan spesifikasi yang minimum. Namun, sebaiknya tingkat penggunaan spesifikasi
                    <i>resource</i> komputer di sesuaikan dengan jumlah penggunaa yang terhubung. Adapun beberapa
                    rekomendasi penggunaan minimum spesifikasi <i>resource</i> komputer server yang dapat anda gunakan:
                </p>
                <div class="spacer-20"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 mb-3">
                <h4>100-300 Peserta</h4>
                <ul class="ul-style-2">
                    <li>
                        <h4>1 Core CPUs</h4>
                    </li>
                    <li>
                        <h4>1 GB RAM</h4>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 mb-3">
                <h4>300-600 Peserta</h4>
                <ul class="ul-style-2">
                    <li>
                        <h4>2 Core CPUs</h4>
                    </li>
                    <li>
                        <h4>2 GB RAM</h4>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 mb-3">
                <h4>600-1200 Peserta</h4>
                <ul class="ul-style-2">
                    <li>
                        <h4>4 Core CPUs</h4>
                    </li>
                    <li>
                        <h4>2 GB RAM</h4>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 mb-3">
                <h4>1200-2500 Peserta</h4>
                <ul class="ul-style-2">
                    <li>
                        <h4>6 Core CPUs</h4>
                    </li>
                    <li>
                        <h4>4 GB RAM</h4>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-10 offset-lg-1 text-center">
                <p>
                    Perlu diingat, bahwa jumlah peserta yang tertera di atas merupakan jumlah peserta dalam satu kali
                    sesi ujian. Untuk kebutuhan di atas 2000 peserta, sebaiknya aplikasi My Exams diinstal di dalam dua
                    atau beberapa server untuk memaksimalkan kinerjanya.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Berlangganan Paket Lokal My Exams -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h5 class="s2">Paket Berlangganan</h5>
                <h2>Berlangganan <span class="id-color">Paket Lokal</span> My Exams</h2>
                <p class="lead">
                    Paket ini merupakan paket berlanggan aplikasi My Exams dalam versi lokal. Anda akan mendapatkan file
                    installer aplikasi servernya sehingga anda dapat menginstal aplikasi pada server lokal yang anda
                    miliki. Keuntungannya, anda dapat dengan mudah melakukan custom spesifikasi komputer server sesuai
                    dengan kebutuhan. Paket ini cocok dipilih jika anda ingin mengadakan ujian online berbasis server
                    lokal.
                </p>
                <p class="lead">
                    Berikut adalah beberapa paket berlanggan yang dapat anda pilih.
                </p>
                <div class="spacer-20"></div>
            </div>
        </div>
        <div class="row de_pricing-tables g-0">
            <div class="col-xl-3 col-lg-6">
                <div class="de_pricing-table type-2">
                    <div class="d-head">
                        <h3>Paket Lokal A</h3>
                        <p>Cocok digunakan untuk percobaan.</p>
                    </div>
                    <div class="d-price">
                        <h3 class="mb-2">Rp. 300.000,00</h3>
                        <p class="text-info">
                            <strong>HARGA EKONOMIS</strong>
                        </p>
                    </div>
                    <div class="d-group">
                        <h4>Mendapatkan:</h4>
                        <ul class="d-list">
                            <li>Lisensi pemakaian <strong>2 bulan</strong></li>
                            <li>Source code installer aplikasi</li>
                            <li>Aplikasi versi android (apk)</li>
                            <li>Gratis pembaruan aplikasi</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="de_pricing-table type-2">
                    <div class="d-head">
                        <h3>Paket Lokal B</h3>
                        <p>Cocok digunakan selama satu semester.</p>
                    </div>
                    <div class="d-price">
                        <h3 class="mb-2">Rp. 540.000,00</h3>
                        <p class="text-danger">
                            <strong>
                                <s>Rp. 600.000,00</s>
                            </strong>
                        </p>
                    </div>
                    <div class="d-group">
                        <h4>Mendapatkan:</h4>
                        <ul class="d-list">
                            <li class="text-primary">Diskon 10%</li>
                            <li>Lisensi pemakaian <strong>4 bulan</strong></li>
                            <li>Gratis pemasangan aplikasi</li>
                            <li>Source code installer aplikasi</li>
                            <li>Aplikasi versi android (apk)</li>
                            <li>Gratis pembaruan aplikasi</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="de_pricing-table type-2">
                    <div class="d-recommend">Direkomendasikan</div>
                    <div class="d-head">
                        <h3>Paket Lokal C</h3>
                        <p>Cocok digunakan untuk periode setengah tahun.</p>
                    </div>
                    <div class="d-price">
                        <h3 class="mb-2">Rp. 765.000,00</h3>
                        <p class="text-danger">
                            <strong>
                                <s>Rp. 900.000,00</s>
                            </strong>
                        </p>
                    </div>
                    <div class="d-group">
                        <h4>Mendapatkan:</h4>
                        <ul class="d-list">
                            <li class="text-primary">Diskon 15%</li>
                            <li>Lisensi pemakaian <strong>6 bulan</strong></li>
                            <li>Gratis pemasangan aplikasi</li>
                            <li>Source code installer aplikasi</li>
                            <li>Aplikasi versi android (apk)</li>
                            <li>Gratis pembaruan aplikasi</li>
                            <li>Dukungan maintenance</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="de_pricing-table type-2">
                    <div class="d-head">
                        <h3>Paket Lokal D</h3>
                        <p>Cocok digunakan untuk periode tahunan.</p>
                    </div>
                    <div class="d-price">
                        <h3 class="mb-2">Rp. 1.350.000,00</h3>
                        <p class="text-danger">
                            <strong>
                                <s>Rp. 1.800.000,00</s>
                            </strong>
                        </p>
                    </div>
                    <div class="d-group">
                        <h4>Mendapatkan:</h4>
                        <ul class="d-list">
                            <li class="text-primary">Diskon 25%</li>
                            <li>Lisensi pemakaian <strong>12 bulan</strong></li>
                            <li>Gratis pemasangan aplikasi</li>
                            <li>Source code installer aplikasi</li>
                            <li>Aplikasi versi android (apk)</li>
                            <li>Gratis pembaruan aplikasi</li>
                            <li>Dukungan maintenance</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Berlangganan Paket Online Bulanan My Exams -->
<section class="no-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h5 class="s2">Paket Berlangganan</h5>
                <h2>Berlangganan <span class="id-color">Paket Online Bulanan</span> My Exams</h2>
                <p class="lead">
                    Paket ini merupakan paket berlanggan aplikasi My Exams dalam versi online. Keuntungan memilih paket
                    ini, anda tidak perlu memiliki server pribadi dan mengelolanya karena aplikasi akan ditempatkan dan
                    dikelola di server kami. Setelah melakukan proses berlanggan dengan paket ini, anda akan langsung
                    mendapatkan URL aplikasi, akses aplikasi, dan aplikasi versi android yang langsung siap untuk
                    digunakan. Paket ini merupakan pilihan yang tepat apabila Anda berkeinginan untuk menyelenggarakan
                    ujian secara online tanpa harus mengurus server dan jaringannya secara manual.
                </p>
                <p class="lead">
                    Harga yang kami berikan di bawah ini sudah termasuk harga lisensi aplikasi, sewa server, pajak, dan
                    perawatan. Berikut adalah beberapa paket berlanggan yang dapat anda pilih.
                </p>
                <div class="spacer-20"></div>
            </div>
        </div>
        <div class="row de_pricing-tables g-0">
            <div class="col-xl-3 col-lg-6">
                <div class="de_pricing-table type-2">
                    <div class="d-head">
                        <h3>Paket Online A</h3>
                        <p>Cocok digunakan untuk kuota 100-300 peserta.</p>
                    </div>
                    <div class="d-price">
                        <h3 class="mb-2">Rp. 270.000,00</h3>
                        <p>
                            <strong>/ Bulan</strong>
                        </p>
                    </div>
                    <div class="d-group">
                        <h4>Spesifikasi Server:</h4>
                        <ul class="d-list">
                            <li>1 Core CPUs</li>
                            <li>1 GB RAM</li>
                            <li>Unlimited storage</li>
                            <li>Unlimited bandwidth</li>
                            <li>Koneksi aman (https)</li>
                            <li>Subdomain myexams.web.id</li>
                        </ul>
                    </div>
                    <div class="d-group">
                        <h4>Termasuk:</h4>
                        <ul class="d-list">
                            <li>Gratis pemasangan aplikasi</li>
                            <li>Aplikasi versi android (apk)</li>
                            <li>Pembaruan aplikasi otomatis</li>
                            <li>Dukungan maintenance</li>
                            <li>Auto backup data</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="de_pricing-table type-2">
                    <div class="d-recommend">Populer</div>
                    <div class="d-head">
                        <h3>Paket Online B</h3>
                        <p>Cocok digunakan untuk kuota 300-600 peserta.</p>
                    </div>
                    <div class="d-price">
                        <h3 class="mb-2">Rp. 350.000,00</h3>
                        <p>
                            <strong>/ Bulan</strong>
                        </p>
                    </div>
                    <div class="d-group">
                        <h4>Spesifikasi Server:</h4>
                        <ul class="d-list">
                            <li>2 Core CPUs</li>
                            <li>2 GB RAM</li>
                            <li>Unlimited storage</li>
                            <li>Unlimited bandwidth</li>
                            <li>Koneksi aman (https)</li>
                            <li>Subdomain myexams.web.id</li>
                        </ul>
                    </div>
                    <div class="d-group">
                        <h4>Termasuk:</h4>
                        <ul class="d-list">
                            <li>Gratis pemasangan aplikasi</li>
                            <li>Aplikasi versi android (apk)</li>
                            <li>Pembaruan aplikasi otomatis</li>
                            <li>Dukungan maintenance</li>
                            <li>Auto backup data</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="de_pricing-table type-2">
                    <div class="d-head">
                        <h3>Paket Online C</h3>
                        <p>Cocok digunakan untuk kuota 600-1200 peserta.</p>
                    </div>
                    <div class="d-price">
                        <h3 class="mb-2">Rp. 485.000,00</h3>
                        <p>
                            <strong>/ Bulan</strong>
                        </p>
                    </div>
                    <div class="d-group">
                        <h4>Spesifikasi Server:</h4>
                        <ul class="d-list">
                            <li>4 Core CPUs</li>
                            <li>2 GB RAM</li>
                            <li>Unlimited storage</li>
                            <li>Unlimited bandwidth</li>
                            <li>Koneksi aman (https)</li>
                            <li>Subdomain myexams.web.id</li>
                        </ul>
                    </div>
                    <div class="d-group">
                        <h4>Termasuk:</h4>
                        <ul class="d-list">
                            <li>Gratis pemasangan aplikasi</li>
                            <li>Aplikasi versi android (apk)</li>
                            <li>Pembaruan aplikasi otomatis</li>
                            <li>Dukungan maintenance</li>
                            <li>Auto backup data</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="de_pricing-table type-2">
                    <div class="d-head">
                        <h3>Paket Online D</h3>
                        <p>Cocok digunakan untuk kuota 1200-2500 peserta.</p>
                    </div>
                    <div class="d-price">
                        <h3 class="mb-2">Rp. 545.000,00</h3>
                        <p>
                            <strong>/ Bulan</strong>
                        </p>
                    </div>
                    <div class="d-group">
                        <h4>Spesifikasi Server:</h4>
                        <ul class="d-list">
                            <li>6 Core CPUs</li>
                            <li>4 GB RAM</li>
                            <li>Unlimited storage</li>
                            <li>Unlimited bandwidth</li>
                            <li>Koneksi aman (https)</li>
                            <li>Subdomain myexams.web.id</li>
                        </ul>
                    </div>
                    <div class="d-group">
                        <h4>Termasuk:</h4>
                        <ul class="d-list">
                            <li>Gratis pemasangan aplikasi</li>
                            <li>Aplikasi versi android (apk)</li>
                            <li>Pembaruan aplikasi otomatis</li>
                            <li>Dukungan maintenance</li>
                            <li>Auto backup data</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <p class="d-small">*Harga bisa saja berubah mengikuti harga sewa server yang kami gunakan.</p>
    </div>
</section>

<section class="no-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h5 class="s2">Lisensi Life Time</h5>
                <h2>Dapatkan <span class="id-color">Lisensi Life Time</span> Aplikasi My Exams</h2>
                <p class="lead">
                    Ada dapat melakukan pembelian aplikasi My Exams untuk mendapatkan lisensi yang berlaku selamanya
                    <i>(life time)</i>.
                </p>
                <div class="spacer-20"></div>
            </div>
        </div>
        <div class="row g-custom-x align-items-center">
            <div class="col-lg-5 mb-3 px-lg-4">
                <div class="pricing-table pricing-s1">
                    <div class="top">
                        <h3>Life Time</h3>
                        <p class="plan-tagline id">Cocok digunakan dalam jangka waktu yang panjang.</p>
                    </div>
                    <div class="mid">
                        <p class="price">
                            <span class="currency">Rp</span>
                            <span class="m opt-1 main-price">4.250.000,00</span>
                        </p>
                        <!-- <p><s><strong>Rp. 5.800.000,00</strong></s></p> -->
                    </div>
                    <div class="bottom">
                        <ul>
                            <li><i class="fa fa-check"></i>Lisensi pemakaian selamanya (life time)</li>
                            <li><i class="fa fa-check"></i>Gratis pemasangan aplikasi</li>
                            <li><i class="fa fa-check"></i>Source code installer aplikasi</li>
                            <li><i class="fa fa-check"></i>Aplikasi versi android (apk)</li>
                            <li><i class="fa fa-check"></i>Custom nama dan logo aplikasi android</li>
                            <li><i class="fa fa-check"></i>Gratis pembaruan aplikasi</li>
                            <li><i class="fa fa-check"></i>Gratis biaya pelatihan penggunaan aplikasi</li>
                            <li><i class="fa fa-check"></i>Dukungan maintenance</li>
                        </ul>
                    </div>
                    <div class="action">
                        <a href="/contact?from=buy-life-time" class="btn-main">Beli My Exams</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="p-sm-30 px-0 pb-sm-0 mb-sm-0">
                    <h2>Mengapa Harus Menggunakan Lisensi Life Time?</h2>
                    <p>
                        Dengan menggunakan lisensi life time, anda tidak akan terbebani akan biaya berlangganan. Anda
                        juga akan memiliki kontrol penuh terhadap penggunaan aplikasi dan spesifikasi yang akan
                        digunakan.
                    </p>
                    <p>
                        Selain itu, anda juga akan mendapatkan full support terhadap pembaruan fitur maupun perbaikan
                        bug yang ditemukan pada aplikasi. Anda juga dapat mengajukan penambahan fitur yang memang belum
                        tersedia di dalam aplikasi maupun layanan yang kami sediakan.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-bottom no-top" data-bgcolor="#DBEDF7">
    <div class="container">
        <div class="row align-items-center g-custom-x">
            <div class="col-lg-5 col-md-6">
                <div class="p-sm-30 px-0 pb-sm-0 mb-sm-0">
                    <h2>Dapatkan My Exams Sekarang!</h2>
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="p-sm-30 px-0">
                    <div class="spacer-20 sm-hide"></div>
                    <p class="lead">
                        Hubungi kontak customer service kami untuk mendapatkan aplikasi My Exams dengan menggunakan link di bawah
                        ini:
                    </p>
                    <div class="spacer-half"></div>
                    <div class="mb-4">
                        <a class="btn-main" href="/contact?from=get-app">Kontak Tim My Exams</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Terima Kasih !</h1>
            </div>
        </div>
    </div>
</section>
