<section id="section-hero" style="background-color: #f6fbff;">
    <div class="container">
        <div class="row align-items-center pt-5">
            <div class="col-md-6">
                <h1>My Exams: Aplikasi CBT berbasis <span class="color-gradient">Website, Desktop, dan Mobile.</span>
                </h1>
                <p class="lead">Kelola ujian dengan lebih mudah dan cepat menggunakan aplikasi My Exams CBT!</p>
                <ul class="ul-style-2">
                    <li>
                        <h4>My Exams Web Versi <%= formsObj['version:myexams-web'] %></h4>
                    </li>
                    <li>
                        <h4>My Exams Android Versi <%= formsObj['version:myexams-android'] %></h4>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 xs-hide">
                <img src="/assets/images/hero.png" class="img-fluid anim-up-down" alt="Hero Image">
            </div>
        </div>
    </div>
</section>

<!-- Tentang Aplikasi -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="text-center">
                    <h5 class="s2">Tentang Aplikasi</h5>
                    <h2>Kenali Lebih Jauh Tentang <br> <span class="id-color">My Exams CBT</span></h2>
                    <div class="spacer-20"></div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 mb-4">
                <div class="text-center">
                    <p class="lead">
                        <strong>My Exams</strong> adalah aplikasi CBT berbasis Website, Desktop, dan Mobile yang
                        memiliki beragam tipe soal. Aplikasi ini mengutamakan fitur pengelolaan ujian dengan lebih mudah
                        dan cepat karena terdapat fitur <strong>kolaborasi antar pengelola ujian</strong>. Terdapat juga
                        fitur pengawas
                        ujian dengan <strong>realtime analisis</strong>. Selain itu, aplikasi ini menyediakan fitur
                        manajemen peserta (kelas, ruangan, akun, kartu ujian), manajemen akun (akun guru dan pengawas),
                        fitur pembuatan soal yang powerful, dan lebih banyak lagi. Karena berbasis Website, aplikasi
                        dapat digunakan di semua perangkat baik perangkat Desktop, Tablet, maupun Mobile dan di berbagai
                        sistem operasi seperti Windows, MacOS, iOS, dan Linux.
                    </p>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-2 mb-5">
                <div class="ratio ratio-16x9">
                    <iframe title="My Exams - Aplikasi CBT Berbasis Website and Android"
                        allowfullscreen="allowfullscreen">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Secure Device -->
<section class="no-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="text-center">
                    <h5 class="s2">Secure Device</h5>
                    <h2>
                        <span>Terintegrasi Baik dengan Aplikasi</span>
                        <br>
                        <span class="id-color">Safe Exam Browser</span>
                    </h2>
                    <div class="spacer-20"></div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 mb-4">
                <div class="text-center">
                    <p class="lead">
                        <a href="https://safeexambrowser.org/download_en.html" target="_blank">Safe Exam Browser
                            (SEB)</a> adalah perangkat lunak <i>Secure Device</i> yang dirancang khusus untuk
                        menciptakan lingkungan ujian yang aman dan terkendali di dalam komputer atau perangkat digital
                        lainnya. Tujuan dari Safe Exam Browser adalah mencegah peserta ujian mengakses sumber daya atau
                        aplikasi yang tidak diizinkan selama proses ujian berlangsung. Selain dapat diakses langsung
                        menggunakan Web Browser, aplikasi My Exams juga dapat diintegrasikan dengan Safe Exam Browser,
                        sehingga dapat menciptakan lingkungan ujian yang aman. Aplikasi ini mendukung beberapa sistem
                        operasi seperti Windows, MacOS, dan iOS.
                    </p>
                    <p class="lead">
                        <i class="text-danger">Sayangnya hingga saat ini pengambang Safe Exam Browser tidak menerbitkan
                            versi Androidnya. Sehingga, kami sebagai pengembang aplikasi My Exams membuat aplikasi versi
                            Android yang fungsinya sama dengan aplikasi Safe Exam Browser.</i>
                    </p>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-3">
                <div class="text-center">
                    <h3>Secure Device for Android</h3>
                    <div class="spacer-20"></div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 mb-4">
                <div class="text-center">
                    <p class="lead">
                        Selain menggunakan Web Browser sebagai platformnya, My Exams juga menawarkan alternatif lain
                        berupa aplikasi versi <strong>Android (APK)</strong>. Dengan pilihan ini, anda memiliki
                        kemampuan untuk mengatur ujian menggunakan aplikasi Android dengan lebih fleksibel. Aplikasi My
                        Exams yang diinstal di perangkat Android, memungkinkan para pengguna untuk dengan mudah
                        mengakses dan menjalankan ujian dari perangkat mobile mereka.
                    </p>
                </div>
                <img src="/assets/images/myexams-mobiles.png" class="img-fluid" alt="My Exams Mobiles">
            </div>
        </div>
    </div>
</section>

<!-- My Exams Android -->
<section style="background-color: #f6fbff;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 d-flex justify-content-center">
                <img class="img-fluid" src="/assets/images/myexams-mobile.png" alt="My Exams Mobile">
            </div>
            <div class="col-lg-8">
                <div class="pb-sm-0 mb-sm-0">
                    <h2>Memiliki Fungsi <span class="id-color">Secure Mode</span> untuk Menghindari Kecurangan.</h2>
                    <p>
                        Aplikasi My Exams Android telah dikonfigurasi ke dalam mode <strong>secure mode</strong>. Hal
                        ini bertujuan agar peserta tidak dapat melakukan <i>record</i>, <i>screenshoot</i> maupun
                        <i>split screen</i> selama mengerjakan ujian.
                    </p>
                    <p>
                        Peserta ujian akan diarahkan untuk masuk ke dalam mode <strong>"lock task"</strong> sebelum
                        memulai ujian. Mode ini memungkinkan peserta ujian tidak dapat berpindah maupun keluar dari
                        aplikasi. Ketika peserta ujian keluar dari mode <strong>"lock task"</strong> atau terdeteksi
                        berinteraksi dengan aplikasi lain, maka aplikasi akan mengeluarkan sesi ujian secara paksa dan
                        peserta ujian perlu melakukan login ulang dari awal.
                    </p>
                    <p>
                        Penggunaan token ujian sebaiknya digunakan ketika menggunakan aplikasi ini. Hal ini bertujuan
                        agar ketika peserta ujian keluar dari sesi ujian, maka peserta perlu melakukan login ulang dan
                        memasukan token ujian.
                    </p>
                    <div class="row">
                        <div class="col-md-5">
                            <ul class="ul-style-2">
                                <li>
                                    <h4>Minimal Android 8.1</h4>
                                </li>
                                <li>
                                    <h4>Berjalan dalam Scure Mode</h4>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5">
                            <ul class="ul-style-2">
                                <li>
                                    <h4>Ukuran Relatif Kecil</h4>
                                </li>
                                <li>
                                    <h4>Pengoperasian Ringan</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="spacer-half"></div>
                    <a class="btn-main" href="/demo">
                        <span>Download & Coba Aplikasi</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Fitur Unggulan -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center">
                <h5 class="s2">Ringkasan Fitur</h5>
                <h2>Apa Fitur Unggulan yang Kami Tawarkan?</h2>
                <div class="spacer-20"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4 text-center">
                <i class="icon-browser de-icon mb20"></i>
                <h4>Desain Responsif</h4>
                <p>
                    My Exam CBT memiliki desain yang responsif. Sehingga, aplikasi dapat diakses menggunakan perangkat
                    desktop maupun mobile dengan menggunakan Web Browser. Selain itu, My Exams juga telah menyediakan
                    tampilan responsif pada versi aplikasi android baik pada perangkat smartphone maupun tablet.
                </p>
            </div>
            <div class="col-md-4 mb-4 text-center">
                <i class="icon-expand de-icon mb20"></i>
                <h4>Halaman Kerja yang Fleksibel</h4>
                <p>
                    Memiliki halaman kerja yang fleksibel sehingga peserta ujian dapat dengan mudah mengatur jenis
                    tampilan yang diinginkan. Selain itu, halaman kerja peserta juga dilengkapi dengan fitur navigasi
                    yang mudah.
                </p>
            </div>
            <div class="col-md-4 mb-4 text-center">
                <i class="icon-layers de-icon mb20"></i>
                <h4>Beragam Tipe Soal</h4>
                <p>
                    My Exams memiliki beragam tipe soal. Saat ini telah tersedia 6 tipe soal, diantaranya jawaban
                    singkat <i>(short answer)</i>, jawaban panjang <i>(long answer)</i>, pilihan ganda <i>(multiple
                        choice)</i>, pilihan ganda kompleks <i>(checkboxes)</i>, urutkan jawaban <i>(sort answer)</i>,
                    seret jawaban <i>(drag answer)</i>, dan benar salah <i>(true false)</i>.
                </p>
            </div>
            <div class="col-md-4 mb-4 text-center">
                <i class="icon-tools de-icon mb20"></i>
                <h4>Powerful Editor Soal</h4>
                <p>
                    My Exams telah terintegrasi dengan <strong>tinyMCE</strong> sehingga memiliki editor soal yang
                    powerful. Anda dapat dengan mudah membuat soal layaknya seperti menggunakan Microsoft Word. Anda
                    juga dapat menambahkan media ke dalam soal berupa gambar, video, dan audio. Media ini dapat berupa
                    link eksternal maupun dari internal file manager pada aplikasi My Exams.
                </p>
            </div>
            <div class="col-md-4 mb-4 text-center">
                <i class="icon-documents de-icon mb20"></i>
                <h4>Import Soal via Microsoft Word</h4>
                <p>
                    My Exams juga telah menyediakan fitur yang memungkinkan anda untuk membuat soal melalui aplikasi
                    Microsoft Word secara langsung. Fitur ini akan mempercepat anda dalam membuat dan mengelola soal
                    ujian.
                </p>
            </div>
            <div class="col-md-4 mb-4 text-center">
                <i class="icon-focus de-icon mb20"></i>
                <h4>Fitur Pengawas Realtime</h4>
                <p>
                    My Exam dilengkapi dengan fitur pengawas ujian. Halaman pengawas ujian berjalan secara realtime.
                    Pengawas dapat melihat status ujian, status online peserta, aktifitas peserta, <i>block/unblock</i>
                    peserta, dan mengirim pesan siaran ke peserta ujian.
                </p>
            </div>
            <div class="col-md-12 text-center">
                <a class="btn-main" href="/features">Lihat Fitur Lainnya</a>
            </div>
        </div>
    </div>
</section>

<!-- Aturan Akses Aplikasi -->
<section class="no-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center">
                <h5 class="s2">Aturan Akses</h5>
                <h2>Apa Saja Hak Akses pada Aplikasi My Exams CBT?</h2>
                <div class="spacer-20"></div>
            </div>
            <div class="col-lg-10 offset-lg-1 mb-4">
                <div class="text-center">
                    <p class="lead">
                        <strong>My Exams</strong> memiliki empat hak akses aplikasi yang terdiri dari akses admin, guru,
                        pengawas, dan peserta ujian. Setiap hak akses pada aplikasi memiliki fitur-fitur tersendiri.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4">
                <h4>Akses: Admin</h4>
                <p>
                    Administrator merupakan hak akses tertinggi dalam mengelola data ujian. Rule akses ini memegang
                    kendali seluruh fitur yang ada dan berjalannya aplikasi ujian. Akses ini bertanggung jawab dalam
                    mengelola data akun guru, pengawas, dan peserta.
                </p>
            </div>
            <div class="col-md-6 mb-4">
                <h4>Akses: Guru</h4>
                <p>
                    Akses guru memiliki beberapa fitur yang diantaranya adalah fitur utamanya yaitu mengelola soal
                    ujian. My Exam memiliki fitur kolaborasi antar guru sehingga mengelola soal akan menjadi lebih mudah
                    dan cepat. Selain dari itu, guru juga memiliki akses untuk menjadi seorang pengawas.
                </p>
            </div>
            <div class="col-md-6 mb-4">
                <h4>Akses: Pengawas</h4>
                <p>
                    Akses pengawas hanya diizinkan untuk mengawasi peserta ujian. Pada halaman pengawas tersedia
                    berbagai macam data analitik seperti ujian yang aktif, status online peserta, aktifitas peserta,
                    pesan, dan pemblokiran peserta ujian. Sistem analitik yang terdapat pada halaman pengawas berjalan
                    secara realtime.
                </p>
            </div>
            <div class="col-md-6 mb-4">
                <h4>Akses: Peserta</h4>
                <p>
                    Akses peserta merupakan akses sebagai peserta ujian. Akses ke halaman peserta dapat dilakukan dengan
                    memasukan akun peserta dan target ujian. Akun dapat dilihat pada kartu peserta yang dikeluarkan oleh
                    pengelola ujian.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Clients -->
<section class="no-top">
    <div class="container">
        <div class="row mb-4">
            <div class="col-lg-6 offset-lg-3 text-center">
                <h5 class="s2">Terima Kasih</h5>
                <h2>Telah Menggunakan Aplikasi <br><span class="id-color">My Exams CBT</span></h2>
                <div class="spacer-20"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="owl-logo" class="logo-carousel owl-carousel owl-theme">
                    <img src="/assets/images/clients/1-sman6tsm.png" class="img-fluid" alt="SMA Negeri 6 Tasikmalaya"
                        title="SMA Negeri 6 Tasikmalaya">
                    <img src="/assets/images/clients/2-pusat-bahasa-usu.jpg" class="img-fluid" alt="Pusat Bahasa USU"
                        title="Pusat Bahasa USU">
                    <img src="/assets/images/clients/3-ssci-solo.png" class="img-fluid" alt="SSCI Solo"
                        title="SSCI Solo">
                    <img src="/assets/images/clients/4-universitas-pgri-wiranegara.png" class="img-fluid"
                        alt="Univeristas PGRI Wiranegara" title="Univeristas PGRI Wiranegara">
                    <img src="/assets/images/clients/5-aksara-data-pasunauli.png" class="img-fluid"
                        alt="Aksara Data Pasunauli" title="Aksara Data Pasunauli">
                    <img src="/assets/images/clients/6-sman1manado.png" class="img-fluid" alt="SMA Negeri 1 Manado"
                        title="SMA Negeri 1 Manado">
                    <img src="/assets/images/clients/8-ma-nurul-ummah.png" class="img-fluid"
                        alt="MA Nurul Ummah Yogyakarta" title="MA Nurul Ummah Yogyakarta">
                    <img src="/assets/images/clients/9-smk-almanshuriyah.png" class="img-fluid" alt="SMK Almanshuriyah"
                        title="SMK Almanshuriyah">
                    <img src="/assets/images/clients/11-sman7-manado.png" class="img-fluid" alt="SMA Negeri 7 Manado"
                        title="SMA Negeri 7 Manado">
                    <img src="/assets/images/clients/12-ma-nu-ibtidaul-falah.png" class="img-fluid"
                        alt="MA NU Ibtidaul Falah" title="MA NU Ibtidaul Falah">
                    <img src="/assets/images/clients/13-mts-assadiyah-2-bontouse.jpg" class="img-fluid"
                        alt="MTs. Assadiyah No. 2 Bontouse" title="MTs. Assadiyah No. 2 Bontouse">
                    <img src="/assets/images/clients/15-smpn1-tobadak.png" class="img-fluid"
                        alt="UPTD SMP Negeri 1 Tobadak" title="UPTD SMP Negeri 1 Tobadak">
                    <img src="/assets/images/clients/16-mtsn4-jembrana.jpg" class="img-fluid"
                        alt="MTs Negeri 4 Jembrana" title="MTs Negeri 4 Jembrana">
                    <img src="/assets/images/clients/17-smk-kesuma-margoyoso.jpg" class="img-fluid"
                        alt="SMK Kesuma Margoyoso" title="SMK Kesuma Margoyoso">
                    <img src="/assets/images/clients/18-smp-kristen-pringadi-surabaya.jpg" class="img-fluid"
                        alt="SMP Kristen Pirngadi Surabaya" title="SMP Kristen Pirngadi Surabaya">
                    <img src="/assets/images/clients/19-smk-kha-wahab-muhsin-sukahideng.png" class="img-fluid"
                        alt="SMK KH. A. Wahab Muhsin Sukahideng" title="SMK KH. A. Wahab Muhsin Sukahideng">
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    // Add youtube iframe.
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('iframe').src = 'https://www.youtube.com/embed/rR4L4P9McDo';
    });
</script>