<section class="full-height no-top no-bottom">
    <div class="v-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 offset-lg-4">
                    <div class="padding40 rounded-3 shadow-soft text-center" data-bgcolor="#ffffff">
                        <h4>Serial Number Control</h4>
                        <div class="spacer-20"></div>
                        <form class="form-border" method="POST" action="/auth">
                            <div class="field-set mb-3">
                                <input type="password" name="accessKey" class="form-control" placeholder="Kunci Akses"
                                    required>
                            </div>
                            <input type="submit" value="Masuk" class="btn-main btn-fullwidth rounded-3">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>