<section id="section-hero" style="background-color: #f6fbff;">
    <div class="container">
        <div class="row text-center pt-5">
            <div class="col-12">
                <h1>Tutorial Penggunaan Aplikasi <span class="id-color">My Exams CBT</span></h1>
                <p class="lead">Kami telah menyediakan berbagai tutorial dalam menggunakan aplikasi My Exams.</p>
            </div>
        </div>
    </div>
</section>

<!-- Video List -->
<section>
    <div class="container">
        <div class="row">
            <% videos.forEach((video) => { %>
            <div class="col-lg-6 mb-5">
                <div class="ratio ratio-16x9 mb-3">
                    <iframe src="<%= video.link %>"
                        title="My Exams - Aplikasi CBT Berbasis Website and Android" allowfullscreen="allowfullscreen">
                    </iframe>
                </div>
                <div class="text-center">
                    <h3><%= video.title %></h3>
                    <p class="lead"><%- video.description %></p>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</section>

<!-- Next -->
<section class="no-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a class="btn-main" href="/demo">Coba Aplikasi Sekarang!</a>
            </div>
        </div>
    </div>
</section>
