<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <title>Jasa Berbagai Jenis Desain - Post Design</title>
    <link rel="stylesheet" href="/css/icofont.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/style.css?version=<%= APP_VERSION %>">
    <link rel="stylesheet" href="/css/responsive.css?version=<%= APP_VERSION %>">
</head>

<body>
    <div class="page_wrapper" id="home">
        <div id="preloader">
            <div id="loader"></div>
        </div>
        <%- body %>
        <div class="purple_backdrop"></div>
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/main.js?version=<%= APP_VERSION %>"></script>
</body>

</html>