<!DOCTYPE html>
<html lang="id">

<head>
    <!-- Google Tag Manager -->
    <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-56N7KZX9');
    </script>
    <!-- End Google Tag Manager -->

    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title><%= title %> - My Exams CBT</title>
    <meta name="robots" content="index, follow">
    <meta name="author" content="Fanesa Hadi Pramana">
    <meta name="keywords"
        content="myexams, aplikasi ujian, aplikasi cbt, aplikasi ujian online, aplikasi unbk, aplikasi ujian berbasi android, android cbt">
    <meta name="description"
        content="My Exams adalah aplikasi CBT berbasis Website, Desktop, dan Mobile yang memiliki beragam tipe soal. Aplikasi ini mengutamakan fitur pengelolaan ujian dengan lebih mudah dan cepat karena terdapat fitur kolaborasi antar pengelola ujian.">
    <meta property="og:title" content="<%= title %> - My Exams CBT">
    <meta property="og:description" content="My Exams adalah aplikasi CBT berbasis Website, Desktop, dan Mobile yang memiliki beragam tipe soal. Aplikasi ini mengutamakan fitur pengelolaan ujian dengan lebih mudah dan cepat karena terdapat fitur kolaborasi antar pengelola ujian.">
    <meta property="og:image" content="/logo-color.png">
    <meta property="og:url" content="https://myexams.web.id">
    <link rel="icon" href="/icon.png" type="image/gif" sizes="16x16">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/mdb.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/coloring.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/colors/scheme-01.css" rel="stylesheet" type="text/css">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebPage",
            "name": "<%= title %> - My Exams CBT",
            "description": "My Exams adalah aplikasi CBT berbasis Website, Desktop, dan Mobile yang memiliki beragam tipe soal. Aplikasi ini mengutamakan fitur pengelolaan ujian dengan lebih mudah dan cepat karena terdapat fitur kolaborasi antar pengelola ujian.",
            "url": "https://myexams.web.id",
            "author": {
                "@type": "Person",
                "name": "Fanesa Hadi Pramana"
            }
        }
    </script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-56N7KZX9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <div id="wrapper">
        <div id="de-loader"></div>

        <!-- header begin -->
        <header class="header-light transparent has-topbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <div class="de-flex-col">
                                    <div id="logo">
                                        <a href="/">
                                            <img class="logo-main" src="/text-logo-color.png" height="33"
                                                alt="My Exams Logo">
                                            <img class="logo-mobile" src="/logo-color.png" height="33"
                                                alt="My Exams Logo">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="de-flex-col header-col-mid">
                                <ul id="mainmenu">
                                    <li>
                                        <a class="menu-item" href="/">Beranda</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="/features">Fitur</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="/tutorial">Tutorial</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="/demo">Coba Aplikasi</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="/faq">FAQ</a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="/contact">Kontak</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="de-flex-col">
                                <div class="menu_side_area">
                                    <a href="/get-app" class="btn-main">Dapatkan Aplikasi</a>
                                    <span id="menu-btn"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            <%- body %>
        </div>

    </div>

    <a href="#" id="back-to-top"></a>

    <footer class="footer-light">
        <div class="container">
            <div class="row g-custom-x">
                <div class="col-lg-8">
                    <img src="/text-logo-color.png" height="28" alt="My Exams Logo">
                    <div class="spacer-20"></div>
                    <p>
                        My Exams CBT akan membantu Anda dalam mengelola ujian. Tidak hanya menyedian aplikasi ujian,
                        kami juga menyediakan jasa penyedian server online untuk menjalankan aplikasi My Exams.
                    </p>
                    <a href="/get-app" class="btn-main mb-5 text-white">Dapatkan Aplikasi</a>
                </div>
                <div class="col-lg-4">
                    <div class="widget">
                        <h5>Subscribe</h5>
                        <p>Subscribe untuk mendapatkan informasi terbaru!</p>
                        <form action="/" class="row form-dark" id="form_subscribe" method="get" name="form_subscribe">
                            <div class="col text-center">
                                <input class="form-control" id="email" name="email" placeholder="Masukan Email"
                                    type="text">
                                <a href="/" id="btn-subscribe">
                                    <i class="arrow_right bg-color-secondary"></i>
                                </a>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                        <div class="spacer-10"></div>
                        <small>*Email Anda aman bersama kami</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <span>Copyright @ 2021-2023 - <a href="/">My Exams</a> by Neszha Productions</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="/assets/js/moment.min.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/designesia.js"></script>
    <script src="/assets/js/tracking.js?version=1.2"></script>
    <script>
        document.addEventListener('DOMContentLoaded', async() => {
            try {
                await sendTrackingMessage();
            } catch (error) {
                setTimeout(() => {
                    sendTrackingMessage();
                }, 2500);
            }
        });
    </script>
</body>

</html>