<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h1 class="page-header-title"><%= title %></h1>
        </div>
        <div class="col-auto">
            <a class="btn btn-white" href="/panel/sn">
                <i class="bi-arrow-left me-1"></i>
                <span>Kembali</span>
            </a>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Verifikasi Kunci Aplikasi</h4>
    </div>
    <div class="card-body">
        <div class="row py-4">
            <div class="col-lg-8 offset-lg-2">
                <p>Kunci aplikasi atau <i>application key</i> didapatkan pada aplikasi My Exams.</p>
                <form method="GET" action="/panel/sn/generate">
                    <div class="row mb-4">
                        <label for="app-key" class="col-lg-2 col-form-label form-label">
                            <strong>Application Key</strong>
                        </label>
                        <div class="col-lg-10">
                            <textarea id="app-key" name="app-key" class="form-control"
                                placeholder="Masukan kunci aplikasi !" rows="6" required></textarea>
                            
                            <% if (query.invalid) { %>
                            <div class="alert alert-soft-danger mt-3" role="alert">
                                <span>Kunci aplikasi tidak valid!</span>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">
                            <span>Verifikasi Kunci Aplikasi</span>
                            <i class="bi-arrow-right ms-1"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
