<section class="jarallax pt50 pb50 vertical-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <h1>Sepertinya Anda Salah Alamat.</h1>
                <p>Halaman yang anda akses mungkin tidak tersedia!</p>
                <a href="/" class="btn-main">Kembali ke Beranda</a>
                <div class="spacer-10"></div>
            </div>
        </div>
    </div>
</section>