<section class="row_am faq_section" style="height: 100vh;">
    <div class="faq_bg">
        <img src="images/section-bg.png" alt="image">
    </div>
    <div class="container">
        <div class="section_title" style="margin-top: 180px;">
            <h2><span>404</span> - Sepertinya Anda Salah Alamat.</h2>
            <p>Halaman yang Anda akses mungkin tidak tersedia!</p>
            <a href="/" class="btn puprple_btn">KE BERANDA</a>
        </div>
    </div>
</section>