<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">
                <img src="/postdesign-text-logo.png" alt="image">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <div class="toggle-wrap">
                        <span class="toggle-bar"></span>
                    </div>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Beranda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#service">Layanan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#guide">Panduan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#example">Sampel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#order">Pesan Sekarang</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<section class="banner_section">
    <div class="hero_bg">
        <img src="/images/hero-bg.png" alt="image">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="banner_text pt-5 pt-lg-0">
                    <h1>Jasa Desain: <span>Banner Wisuda, Graduation, & Birthday</span></h1>
                    <p class="mb-1">
                        Dapatkan desain banner kreatif untuk berbagai acara, termasuk wisuda, perayaan kelulusan, dan
                        ulang tahun untuk momen spesial Anda menjadi berkesan dan unik.
                    </p>
                    <div class="mb-3">
                        <i class="icofont-check-circled"></i> Harga mulai dari Rp. 70.000,00
                    </div>
                </div>
                <div class="trial_box">
                    <div class="form-group">
                        <a href="#service">
                            <button class="btn mx-0">LIHAT LAYANAN</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" data-aos="fade-in" data-aos-duration="1500">
                <div class="banner_images image_box1">
                    <span class="banner_image1">
                        <img class="moving_position_animatin" src="/images/hero/banner-02.png" alt="image" width="270">
                    </span>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" data-aos="fade-in" data-aos-duration="1500">
                <div class="banner_images image_box2 pt-4">
                    <span class="banner_image3">
                        <img class="moving_animation" src="/images/hero/banner-01.png" alt="image" width="270">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="row_am features_section" id="service">
    <div class="feature_section_bg">
        <img src="images/section-bg.png" alt="image">
    </div>

    <div class="container">
        <div class="features_inner">

            <div class="section_title px-2">
                <h2>Apa saja yang kami tawarkan?</h2>
                <p>Kami menawarkan layanan yang diantaranya:</p>
            </div>

            <div class="features_block">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                        <div class="feature_box text-center">
                            <div class="image">
                                <img src="images/functional.png" alt="image">
                            </div>
                            <div class="text">
                                <h4>Berbagai Jenis Desain</h4>
                                <p>Melayani berbagai jenis desain seperti banner atau poster wisuda, Graduation, dan Birthday.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                        <div class="feature_box text-center">
                            <div class="image">
                                <img src="images/live-chat.png" alt="image">
                            </div>
                            <div class="text">
                                <h4>Konsultasi Desain</h4>
                                <p>Kami akan membantu Anda untuk menemukan ide desain yang unik, kreatif, dan cocok untuk kebutuhan Anda.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                        <div class="feature_box text-center">
                            <div class="image">
                                <img src="images/secure_data.png" alt="image">
                            </div>
                            <div class="text">
                                <h4>Tepat Waktu & Aman</h4>
                                <p>Kami berusaha memberikan layanan yang pasti, tepat waktu, dan menjaga data yang berisi informasi pribadi.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                        <div class="feature_box text-center">
                            <div class="image">
                                <img src="images/support.png" alt="image">
                            </div>
                            <div class="text">
                                <h4>Revisi & Pembayaran</h4>
                                <p>Anda dapat mengajukan revisi jika Anda kurang puas dengan desain kami dan pembayaran dapat dilakukan di akhir.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="row_am about_app_section" id="guide">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about_img">
                    <div class="frame_img">
                        <img class="moving_position_animatin" src="/images/hero/banner-02.png" alt="image" width="350" style="border-radius: 20px;">
                    </div>
                    <div class="screen_img">
                        <img class="moving_animation" src="/images/hero/banner-01.png" alt="image" width="200" style="border-radius: 20px;">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about_text">
                    <div class="section_title">
                        <h2>Bagaimana cara mendapatkannya?</h2>
                        <p>
                            Bantu kami untuk memahami keinginan Anda dengan mengikuti langkah-langkah di bawah ini:
                        </p>
                        <div class="modern_ui_section">
                            <ul class="design_block mt-4">
                                <li>
                                    <h4>Gunakan Referensi</h4>
                                    <p>Anda dapat mengirimkan referensi desain atau deskripsi spesifik yang Anda
                                        inginkan.</p>
                                </li>
                                <li>
                                    <h4>Lengkapi Asset Gambar</h4>
                                    <p>Gunakan asset terbaik Anda untuk kami kelola menjadi desain yang Anda suka.</p>
                                </li>
                                <li>
                                    <h4>Eksekusi Desain</h4>
                                    <p>Kami akan memulai proses desain dengan spesifikasi yang Anda berikan.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="#order" class="btn puprple_btn">PESAN SEKARANG</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="row_am interface_section" id="example">
    <div class="container-fluid">
        <div class="section_title">
            <h2>Sampel <span>Desain</span></h2>
            <p>
                Kami telah menyiapkan contoh desain sebagai referensi Anda atau bisa <br>
                menggunakan referensi dari sumber lainnya.
            </p>
        </div>

        <div class="screen_slider">
            <div id="screen_slider" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="screen_frame_img">
                        <img src="/images/hero/banner-02.png" alt="image">
                    </div>
                </div>
                <div class="item">
                    <div class="screen_frame_img">
                        <img src="/images/hero/banner-02.png" alt="image">
                    </div>
                </div>
                <div class="item">
                    <div class="screen_frame_img">
                        <img src="/images/hero/banner-02.png" alt="image">
                    </div>
                </div>
                <div class="item">
                    <div class="screen_frame_img">
                        <img src="/images/hero/banner-02.png" alt="image">
                    </div>
                </div>
                <div class="item">
                    <div class="screen_frame_img">
                        <img src="/images/hero/banner-02.png" alt="image">
                    </div>
                </div>
                <div class="item">
                    <div class="screen_frame_img">
                        <img src="/images/hero/banner-02.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
        <!-- screen slider end -->
    </div>
    <!-- container end -->
</section>

<section class="row_am newsletter_section" id="order">
    <div class="container">
        <div class="newsletter_box d-block">
            <div class="section_title mb-3">
                <h2>Pesan Sekarang!</h2>
                <p>Isi form di bawah ini dan Anda akan diarahkan ke WhatsApp kami.</p>
            </div>
            <form action="" class="text-left">
                <div class="form-group mb-3">
                    <label for="name" class="text-white">Nama:</label>
                    <input id="name" type="text" class="form-control" placeholder="Nama" required>
                </div>
                <div class="form-group mb-3">
                    <label for="type" class="text-white">Tipe:</label>
                    <input id="type" type="text" class="form-control" placeholder="Contoh: Poster Wisuda/Ucapan Wisuda/Ucapan Ultah" required>
                </div>
                <div class="form-group mb-4">
                    <label for="name" class="text-white">Spesifikasi:</label>
                    <textarea class="form-control" rows="6" placeholder="Jelaskan spesifikasi desain secara detail." required></textarea>
                </div>
                <div class="form-group text-right">
                    <button class="btn">PESAN</button>
                </div>
            </form>
        </div>
    </div>
</section>

<footer>
    <div class="footer_bg" style="z-index: -4;">
        <img src="images/section-bg.png" alt="image">
    </div>
    
    <div class="section_title py-5">
        <div class="mt-5">
            <h2 class="pt-5">Terimakasih Telah Menggunakan <br> Layanan <span>Post Design</span></h2>
            <p class="pb-5 px-2">Jasa desain banner kreatif untuk berbagai acara, termasuk wisuda, perayaan kelulusan, <br> dan ulang tahun untuk momen spesial Anda.</p>
        </div>
    </div>

    <div class="bottom_footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>© Copyrights 2023. All rights reserved.</p>
                </div>
                <div class="col-md-6">
                    <p class="developer_text">
                        Post Design by <a href="/" target="blank">Neszha Productions</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="go_top" style="z-index: 5;">
        <span>
            <img src="images/go_top.png" alt="image">
        </span>
    </div>
</footer>