<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.png" alt="image">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <div class="toggle-wrap">
                        <span class="toggle-bar"></span>
                    </div>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#how_it_work">How it works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<section class="banner_section">
    <div class="hero_bg">
        <img src="/images/hero-bg.png" alt="image">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12" data-aos="fade-right" data-aos-duration="1500">
                <div class="banner_text pt-5 pt-lg-0">
                    <h1>Jasa Desain: <span>Banner Wisuda, Graduation, & Birthday</span></h1>
                    <p>
                        Dapatkan desain banner kreatif untuk berbagai acara, termasuk wisuda, perayaan kelulusan, dan
                        ulang tahun untuk momen spesial Anda menjadi berkesan dan unik.
                    </p>
                </div>
                <div class="trial_box">
                    <form action="#">
                        <div class="form-group">
                            <button class="btn mx-0">PESAN SEKARANG</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" data-aos="fade-in" data-aos-duration="1500">
                <div class="banner_images image_box1">
                    <span class="banner_image1">
                        <img class="moving_position_animatin" src="/images/hero/banner-02.png" alt="image" width="270">
                    </span>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" data-aos="fade-in" data-aos-duration="1500">
                <div class="banner_images image_box2 pt-4">
                    <span class="banner_image3">
                        <img class="moving_animation" src="/images/hero/banner-01.png" alt="image" width="270">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>